<!DOCTYPE html>

<html lang="en">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
        <meta charset="utf-8" />
        <title>Inventory</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&amp;subset=all' rel='stylesheet' type='text/css'>
        <link href="plugins/socicon/socicon.css" rel="stylesheet" type="text/css" />
        <link href="plugins/bootstrap-social/bootstrap-social.css" rel="stylesheet" type="text/css" />
        <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="plugins/animate/animate.min.css" rel="stylesheet" type="text/css" />
        <link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN: BASE PLUGINS  -->
        <link href="plugins/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet" type="text/css" />
        <link href="plugins/owl-carousel/assets/owl.carousel.css" rel="stylesheet" type="text/css" />
        <link href="plugins/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />
        <link href="plugins/slider-for-bootstrap/css/slider.css" rel="stylesheet" type="text/css" />
        <!-- END: BASE PLUGINS -->
        <!-- BEGIN THEME STYLES -->
        <link href="base/css/plugins.css" rel="stylesheet" type="text/css" />
        <link href="base/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
        <link href="base/css/themes/default.css" rel="stylesheet" id="style_theme" type="text/css" />
        <link href="base/css/custom.css" rel="stylesheet" type="text/css" />
        <!-- END THEME STYLES -->
        <link rel="shortcut icon" href="favicon.ico" /> </head>
           
<link rel="stylesheet" href="plugins/imagezoom/css/imagezoom/imagezoom.css" />
<link rel="stylesheet" href="plugins/imagezoom/css/elastislide/es-cus.css" />
<link type="text/css" rel="stylesheet" href="lib/css/DT_bootstrap.css"/>

<link href="plugins/fine-uploader/fine-uploader-new.css" rel="stylesheet">
<script src="plugins/fine-uploader/fine-uploader.js"></script>
<script type="text/javascript">
    service = 0;
    function addService (btn) {
        // body...
        /*e.preventDefault();*/
      
        
        html = `<div class="form-group services" id="service${service}">                            
                    
                    <div class="col-md-3">
                        <input type="text" class="form-control c-square c-theme" name="vshippingprice" id="vshippingprice" placeholder="Service Name" required="">
                    </div>                
                    <div class="col-md-8">
                        <input type="text" class="form-control c-square c-theme" name="vshippingprice" id="vshippingprice" placeholder="Price" required="">
                    </div>
                    <a href="javascript:;" class="col-md-1" onclick="$('#service${service}').remove();$('#clearfix${service}').remove();$('#br${service}').remove();service--;" ><i class="fa fa-times" title="Remove Service"></i></a>
                </div>
                <div class="clearfix" id="clearfix${service}"></div>
                <br id="br${service}">`;
        $('#service').append(html);
        service++;
    }
</script>
 <!-- Fine Uploader Thumbnails template w/ customization
    ====================================================================== -->
    <script type="text/template" id="qq-template-manual-trigger">
        <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
            <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
            </div>
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span class="qq-upload-drop-area-text-selector"></span>
            </div>
            <div class="buttons">
                <div class="qq-upload-button-selector qq-upload-button">
                    <div>Select files</div>
                </div>
                <button type="button" id="trigger-upload" class="btn btn-primary">
                    <i class="icon-upload icon-white"></i> Upload
                </button>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
                <li>
                    <div class="qq-progress-bar-container-selector">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                    <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                    <span class="qq-upload-file-selector qq-upload-file"></span>
                    <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                    <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                    <span class="qq-upload-size-selector qq-upload-size"></span>
                    <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                    <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                    <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                    <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                </li>
            </ul>

            <dialog class="qq-alert-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Close</button>
                </div>
            </dialog>

            <dialog class="qq-confirm-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">No</button>
                    <button type="button" class="qq-ok-button-selector">Yes</button>
                </div>
            </dialog>

            <dialog class="qq-prompt-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <input type="text">
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Cancel</button>
                    <button type="button" class="qq-ok-button-selector">Ok</button>
                </div>
            </dialog>
        </div>
    </script>


        <style type="text/css">
        table thead tr{
            background-color: #ADC2EB;

        }
        

        div.stars {
  width: 230px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: left;
  padding-right: 10px;
  font-size: 20px;
  color: #FD4;
  transition: all .25s;
}


label.star:before {
  content: '\f005';
  font-family: FontAwesome;
}
.demowrap
{   

    display:block;
}
.demowrap img
{   
    width:100%;
}
 #trigger-upload {
            color: white;
            background-color: #00ABC7;
            font-size: 14px;
            padding: 7px 20px;
            background-image: none;
        }

        #fine-uploader-manual-trigger .qq-upload-button {
            margin-right: 15px;
        }

        #fine-uploader-manual-trigger .buttons {
            width: 36%;
        }

        #fine-uploader-manual-trigger .qq-uploader .qq-total-progress-bar-container {
            width: 60%;
        }
        #tablestockin :hover{
            cursor: pointer;
        }
        </style>
        <script type="text/javascript">
            function filter() {
                var filter = $('#filter');
                data = filter.children();
                nameFilterData = {};
                yearFilterData = {};
                gradingFilterData = {};
                $.each(data,function(id,data){
                    var name = $('.name', data).text();
                    var year = $('.year', data).text();
                    var grade = $('.grading', data).text();
                    nameFilterData[name] = data;
                    yearFilterData[year] = data;
                    gradingFilterData[grade] = data;

                });
            }

        </script>
    <body class="c-layout-header-fixed c-layout-header-6-topbar">
        <!-- BEGIN: LAYOUT/HEADERS/HEADER-1 -->
        <!-- BEGIN: HEADER -->
        <header class="c-layout-header c-layout-header-6" id="home" data-minimize-offset="80">

            <div class="c-topbar">
                <div class="container">
                    <nav class="c-top-menu">
                        <ul class="c-links c-theme-ul">
                            <li class="c-cart-toggler-wrapper">
                                    <a href="#" class="c-btn-icon c-cart-toggler">
                                        <i class="icon-bell c-bell-icon"></i>
                                        <span class="c-cart-number" style="background-color:orange">2</span>
                                    </a>
                                </li>
                            <li>
                                    <a href="index.html"  class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-dark c-btn-circle c-btn-uppercase c-btn-sbold" >
                                        <i class="icon-user"></i> Sign Out</a>
                                </li>

                        </ul>
                        <!-- <ul class="c-ext hide c-theme-ul">
                            <li class="c-lang dropdown c-last">
                                <a href="#">en</a>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li class="active">
                                        <a href="#">English</a>
                                    </li>
                                    <li>
                                        <a href="#">German</a>
                                    </li>
                                    <li>
                                        <a href="#">Espaniol</a>
                                    </li>
                                    <li>
                                        <a href="#">Portugise</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="c-search hide">
                             
                                <form action="#">
                                    <input type="text" name="query" placeholder="search..." value="" class="form-control" autocomplete="off">
                                    <i class="fa fa-search"></i>
                                </form>
                                
                            </li>
                        </ul> -->
                    </nav>
                    <div class="c-brand">
                        <a href="index.html" class="c-logo" style="font-size:30px;">
                                <span class="c-desktop-logo" style=""><b>INVENTORY SYSTEM</b></span><!-- 
                                <img src="base/img/layout/logos/logo-2.png" alt="JANGO" class="c-desktop-logo">
                                <img src="base/img/layout/logos/logo-2.png" alt="JANGO" class="c-desktop-logo-inverse">
                                <img src="base/img/layout/logos/logo-2.png" alt="JANGO" class="c-mobile-logo"> --> 
                            </a>
                        <!-- <ul class="c-icons c-theme-ul">
                            <li>
                                <a href="#">
                                    <i class="icon-social-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-social-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-social-dribbble"></i>
                                </a>
                            </li>
                        </ul> -->
                        <button class="c-topbar-toggler" type="button">
                            <i class="fa fa-ellipsis-v"></i>
                        </button>
                        <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
                            <span class="c-line"></span>
                            <span class="c-line"></span>
                            <span class="c-line"></span>
                        </button>
                        <!-- <button class="c-search-toggler" type="button">
                            <i class="fa fa-search"></i>
                        </button> -->
                    </div>
                </div>
            </div>
            <div class="c-navbar" style="background-color:#ADC2EB">
                <div class="container">
                    <!-- BEGIN: BRAND -->
                    <div class="c-navbar-wrapper clearfix">
                        
                        <!-- END: BRAND -->
              
                        <!-- END: QUICK SEARCH -->
                        <!-- BEGIN: HOR NAV -->
                        <!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU-ONEPAGE -->
                        <!-- BEGIN: MEGA MENU -->
                        <nav class="c-mega-menu c-mega-menu-onepage c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold" data-onepage-animation-speed="300">
                            <ul class="nav navbar-nav c-theme-nav">
                                <li class="c-onepage-link">
                                    <a href="dashboard.html" class="c-link">Dashboard</a>
                                </li>
                                <li class="c-onepage-link c-active active">
                                    <a href="#" class="c-link">Inventory</a>
                                </li>
                               
                                <li class="c-onepage-link ">
                                    <a href="exports.html" class="c-link">Exports</a>
                                </li>
                                <li class="c-onepage-link">
                                    <a href="imports.html" class="c-link">Imports</a>
                                </li>
                                <li class="c-onepage-link">
                                    <a href="zakat.html" class="c-link">Zakat</a>
                                </li>
                                <li class="c-onepage-link ">
                                    <a href="user.html" class="c-link">Users</a>
                                </li>
                                <li class="">
                                    <a href="javascript:;" class="c-link dropdown-toggle">Reports
                                        <span class="c-arrow c-toggler"></span>
                                    </a>
                                    <div class="dropdown-menu c-menu-type-mega" style="right: 165px; background-color:#ADC2EB;">
                                        
                                        <ul class="dropdown-menu c-menu-type-inline">
                                                    
                                            <li class="">
                                                <a href="sales.html" style="color:white">Sales Report</a>
                                            </li>
                                            <li >
                                                <a href="purchase.html" style="color:white">Purchase Report</a>
                                            </li>
                                                    
                                        </ul>
                                            
                                    <div>        
                                </li>
                                
                                
                               
                            </ul>
                        </nav>
                        <!-- END: MEGA MENU -->
                        <!-- END: LAYOUT/HEADERS/MEGA-MENU-ONEPAGE -->
                        <!-- END: HOR NAV -->
                    </div>

                    <div class="c-cart-menu">
                        
                        <ul class="c-cart-menu-items">
                            <li>
                                <div class="c-cart-menu-close">
                                    <a href="#" class="c-theme-link">×</a>
                                </div>
                                <a href="imports.html" class="c-item-name c-font-sbold">Vehicle Exported To Your Destination...</a>
                                
                            </li>
                            <li>
                                <div class="c-cart-menu-close">
                                    <a href="#" class="c-theme-link">×</a>
                                </div>
                                <a href="exports.html" class="c-item-name c-font-sbold">Vehicle Received Successfully At Destination...</a>
                                
                            </li>
                        </ul>
                        
                    </div>


                </div>
            </div>
        </header>
        <!-- END: HEADER -->
        <!-- END: LAYOUT/HEADERS/HEADER-1 -->
       <!-- BEGIN: CONTENT/USER/LOGIN-FORM -->
        <div class="modal fade " id="addVehicle" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content c-square">
                    <div class="modal-header" style="background-color:#ADC2EB;">
                        <button type="button" style="float:right; " class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h2 style="">ADD VEHICLE</h2>
                        
                    </div>
                    <div class="modal-body">
                        <div id="vInfo">
                        <form>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-md-2 control-label">Name:</label>
                                <div class="col-sm-1"></div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control c-square c-theme" name="vname" id="vname" placeholder="Vehicle Name" required=""> 
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-md-2 control-label">Chassis:</label>
                                <div class="col-sm-1"></div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control c-square c-theme" name="cnumber" id="cnumber" placeholder="Chassis Number" required=""> 
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-md-2 control-label">Make:</label>
                                <div class="col-sm-1"></div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control c-square c-theme" name="vmake" id="vmake" placeholder="SUZUKI, TOYOTA" required=""> 
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <br>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-md-2 control-label">Model:</label>
                                <div class="col-sm-1"></div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control c-square c-theme" name="vmodel" id="vmodel" placeholder="CARRY, SKYLINE" required=""> 
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-md-2 control-label">Year:</label>
                                <div class="col-sm-1"></div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control c-square c-theme" name="vyear" id="vyear" placeholder="1990" required=""> 
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-md-2 control-label">Stars:</label>
                                <div class="col-sm-1"></div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control c-square c-theme" name="vstars" id="vstars" placeholder="Vehicle Stars Out Of 5" required=""> 
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-md-2 control-label">Price:</label>
                                <div class="col-sm-1"></div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control c-square c-theme" name="vprice" id="vprice" placeholder="$Price" required=""> 
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div id="service">
                                   
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            <div class="form-group">
                                <a href="javascript:;" class="col-md-4 addservice" onclick="addService(this)"><i class="icon-plus" title="Add Services"></i>&nbsp;Other Services</a>
                                
                            </div>

                            
                            <div class="clearfix"></div>
                            <div class="form-group c-margin-t-40">
                                <div class="col-md-12 c-center">
                                    <button type="button" onclick="$('#vImages').show();$('#vInfo').hide();" class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold" style="width: 200px;">Save</button>            
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                        </div>
                        <div id="vImages" style="display:none">
                            
                            <div class="form-group">
                                <div id="fine-uploader-manual-trigger"></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: CONTENT/USER/LOGIN-FORM -->
        <!-- BEGIN: PAGE CONTAINER -->
        <div  class="c-layout-page" >
            <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
            <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
                <div class="container" >
                    <div class="c-page-title c-pull-left">
                        <h3 class="c-font-uppercase c-font-bold">Inventory</h3>
                       <!--  <h4 class="">Inventory In And Out</h4> -->
                    </div>
                    <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                        <li>
                            <a href="">Admin</a>
                        </li>
                        <li>/</li>
                        <li class="c-state_active">Inventory</li>
                    </ul>
                </div>
            </div>
            <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
            <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: CONTENT/SHOPS/SHOP-PRODUCT-DETAILS-2 -->
            <div class="c-content-box c-overflow-hide c-bg-white">
                <div class="container">
                    <div class="c-shop-product-details-2">
                     
                        
                        <div class="row">
                            <button class="btn btn-primary" style="float:right" data-toggle="modal" data-target="#addVehicle">Add Inventory</button>
                            <h1><b>Stock In</b></h1>

                            <hr>
                            
                            <div class="col-md-12 col-sm-12">
                                <div class="row" id="filter">
                                    
                                        <table  cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered">
     <thead>
      <tr>
       <th>Sr #</th>
       <th>Vehicle Name</th>
       <th>Chassis Number</th>
       <th>Current Location</th>
       <th>Added Date</th>
       
      </tr>
     </thead>
     <tbody id="tablestockin">
      
     
                                  
                                
                                   <tr  class="odd gradeX">
                  <td class="hidden-480">1</td>
                  <td class="hidden-480 token">Vehicle Name 1</td>
                  <td class="hidden-480">11231</td>
                  <td class="hidden-480">Station 1</td>
                  
                  <td class="hidden-480">12 March 2017</td> 
                  </tr> 

                  <tr  class="odd gradeX">
                  <td class="hidden-480">2</td>
                  <td class="hidden-480 token">Vehicle Name 2</td>
                  <td class="hidden-480">13211</td>
                  <td class="hidden-480">Station 2</td>
                  <td class="hidden-480">12 March 2017</td> 
                  </tr> 

                  <tr  class="odd gradeX">
                  <td class="hidden-480">3</td>
                  <td class="hidden-480 token">Vehicle Name 3</td>
                  <td class="hidden-480">23111</td>
                  <td class="hidden-480">Station 2</td>
                  <td class="hidden-480">12 March 2017</td> 
                  </tr> 
                                 
      
        </tbody>
    </table>
                                   
                                </div>
                                
                            </div>          
                           
                        </div>
                    </div>
                </div>
            </div>

            <!-- END: CONTENT/SHOPS/SHOP-PRODUCT-DETAILS-2 -->
            
                      
            <!-- END: PAGE CONTENT -->
        </div>
        <!-- style="background-color:grey;color:white" -->
        <div class="modal fade" id="vehicleinfo" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content c-square">
                    <div class="modal-header " style="background-color:#ADC2EB">
                        <button type="button" style="float:right; " class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h2 style="">Corolla Vitz</h2>
                        
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-7">
                                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                    <!-- <ol class="carousel-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#myCarousel" data-slide-to="1"></li>
                                        <li data-target="#myCarousel" data-slide-to="2"></li>
                                    </ol> -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img src="1.jpg" style="width:330px; height:300px;border: 2px solid grey;">
                                        </div>

                                        <div class="item">
                                            <img src="2.jpg" style="width:330px; height:300px;border: 2px solid grey;">
                                        </div>

                                        <div class="item">
                                            <img src="1.jpg" style="width:330px; height:300px;border: 2px solid grey;">
                                        </div>
                                    </div>
                                    <!-- Left and right controls -->
                                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        <span class="sr-only">Next</span>
                                    </a>


                                </div>
                                
                            </div>
                            <div class="col-md-5 ">
                                <label>Year:     2000</label>
                                <br>
                                <div class="stars">
                                    <form action="">
    
                                        <label class="star star-5" for="star-5"></label>
    
                                        <label class="star star-4" for="star-4"></label>
    
                                        <label class="star star-3" for="star-3"></label>
    
                                        <label class="star star-2" for="star-2"></label>

                                        <label class="star star-1" for="star-1"></label>
                                    </form>
                                </div>
                                <label>Added By: User Name(Station Name)</label>
                                <label>Current Location: Station 2</label>
                                <label>Price: $12.000</label>
                                <br>
                                <label>Status: <span class="alert-success">Sold</span></label>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                               
                            <div class="col-md-12 text-center">
                                <button class="btn  c-theme-btn c-btn-square c-btn-uppercase c-btn-bold" onclick="$('#exportData').hide();$('#sellData').show();">Sell</button>
                               
                                <button class="btn  c-theme-btn c-btn-square c-btn-uppercase c-btn-bold" id='editVehicle'>Edit</button>

                                 <button class="btn  c-theme-btn c-btn-square c-btn-uppercase c-btn-bold" onclick="$('#exportData').show();$('#sellData').hide();">Export</button>
                            </div>

                        </div>
                        <br>
                        <div class="row" id="exportData" style="display:none;">
                            <form>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-md-3 control-label">Destination:</label>
                                   
                                    <div class="col-md-9">
                                        <select class="form-control c-square c-theme">
                                            <option>Select Destination</option>
                                            <option>Station Name 1</option>
                                            <option>Station Name 2</option>
                                            <option>Station Name 3</option>
                                            <option>Station Name 4</option>
                                        </select>
                                    </div>
                                    

                                </div>
                                <div class="clearfix"></div>
                                <br>
                                <div class="form-group">
                                    
                                    <label for="inputEmail3" class="col-md-3 control-label">Shipping Price:</label>
                                    
                                    <div class="col-md-9">
                                        <input type="text" class="form-control c-square c-theme" name="vshippingprice" id="vshippingprice" placeholder="Price" required="">
                                    </div>
                                    
                                </div>
                                <div class="clearfix"></div>
                                
                                <br>

                                <div class="form-group">
                                    
                                    <label for="inputEmail3" class="col-md-3 control-label">Delivery Date:</label>
                                    
                                    <div class="col-md-9">
                                        <input type="text" class="form-control c-square c-theme" name="vdelivtime" id="vdelivtime" placeholder="dd/mm/yyyy" required="">
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group c-margin-t-40">
                                    <div class="col-md-12 c-center">
                                        <button type="submit" class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold" style="width: 200px;">Submit</button>            
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                        <div class="row" id="sellData" style="display:none;">
                            <form>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-md-2 control-label">Price:</label>
                                    <div class="col-sm-1"></div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control c-square c-theme" name="vprice" id="vprice" placeholder="$Price" required="">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group c-margin-t-40">
                                    <div class="col-md-12 c-center">
                                        <button type="submit" class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold" style="width: 200px;">Submit</button>            
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- END: PAGE CONTAINER -->
        <!-- BEGIN: LAYOUT/FOOTERS/FOOTER-6 -->
        <a name="footer"></a>
                <footer class="c-layout-footer c-layout-footer-1" >
            <div class="c-postfooter" style="background-color:#ADC2EB">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 text-center">
                            <p class="c-copyright c-font-oswald c-font-14" style="color:black"> Copyright &copy; 2017 </p>
                        </div>
                        <!-- <div class="col-md-6 col-sm-6">
                            <ul class="c-socials">
                                <li>
                                    <a href="#">
                                        <i class="icon-social-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-social-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-social-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-social-dribbble"></i>
                                    </a>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </footer>
        <!-- END: LAYOUT/FOOTERS/FOOTER-6 -->
        <!-- BEGIN: LAYOUT/FOOTERS/GO2TOP -->
        <div class="c-layout-go2top">
            <i class="icon-arrow-up"></i>
        </div>
        


        <script src="plugins/jquery.min.js" type="text/javascript"></script>
        <script src="plugins/jquery-migrate.min.js" type="text/javascript"></script>
        <script src="plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="plugins/jquery.easing.min.js" type="text/javascript"></script>
        <script src="plugins/reveal-animate/wow.js" type="text/javascript"></script>
        <script src="base/js/scripts/reveal-animate/reveal-animate.js" type="text/javascript"></script>
        <!-- END: CORE PLUGINS -->
        <!-- BEGIN: LAYOUT PLUGINS -->
        <script src="plugins/cubeportfolio/js/jquery.cubeportfolio.min.js" type="text/javascript"></script>
        <script src="plugins/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
        <script src="plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
        <script src="plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
        <script src="plugins/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
        <script src="plugins/smooth-scroll/jquery.smooth-scroll.js" type="text/javascript"></script>
        <script src="plugins/slider-for-bootstrap/js/bootstrap-slider.js" type="text/javascript"></script>
        <!-- END: LAYOUT PLUGINS -->
        <!-- BEGIN: THEME SCRIPTS -->
        <script src="base/js/components.js" type="text/javascript"></script>
        <script src="base/js/components-shop.js" type="text/javascript"></script>
        <script src="base/js/app.js" type="text/javascript"></script>
        <script src="base/js/scripts/pages/modals.js" type="text/javascript"></script>
        <script>
            $(document).ready(function()
            {
                App.init(); // init core    
            });
        </script>


        <!-- END: PAGE SCRIPTS -->
<script type="text/javascript" src="plugins/imagezoom/js/jquery.imagezoom.min.js"></script>
<script type="text/javascript" src="plugins/imagezoom/js/modernizr.custom.17475.js"></script>
<script type="text/javascript" src="plugins/imagezoom/js/jquery.elastislide.js"></script>
<script type="text/javascript" src="plugins/filter.js"></script>
<script src="lib/js/jquery.dataTables.js"></script>
<script src="lib/js/DT_bootstrap.js"></script>

        <!-- END: LAYOUT/BASE/BOTTOM -->
        <script>

   $(document).ready(function() {
    $('.datatable').dataTable({
     "sPaginationType": "bs_full"
    }); 
    $('.datatable').each(function(){
     var datatable = $(this);
     // SEARCH - Add the placeholder for Search and Turn this into in-line form control
     var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
     search_input.attr('placeholder', 'Search');
     search_input.addClass('form-control input-sm');
     // LENGTH - Inline-Form control
     var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
     length_sel.addClass('form-control input-sm');
    });


    $('#tablestockin tr').on('click', function(e){
        //console.log(this);
        $('#vehicleinfo').modal('show');
    });

    //Model Closing
    $('#addVehicle').on('hidden.bs.modal', function () {
    // do something…
        $('#vInfo',this).show();
        $('#vImages',this).hide();
    });

    //Model Closing
    $('#vehicleinfo').on('hidden.bs.modal', function () {
    // do something…
        
        $('#exportData',this).hide();
        $('#sellData',this).hide();
    });

    $('#editVehicle').on('click',function(e){
        $('#vehicleinfo').modal('hide');
        $('#addVehicle').modal('show');
    });

    

});

var manualUploader = new qq.FineUploader({
            element: document.getElementById('fine-uploader-manual-trigger'),
            template: 'qq-template-manual-trigger',
            request: {
                endpoint: '',
                params: {'id':1}
            },

            thumbnails: {
                placeholders: {
                    waitingPath: 'plugins/fine-uploader/placeholders/waiting-generic.png',
                    notAvailablePath: 'plugins/fine-uploader/placeholders/not_available-generic.png'
                }
            },
            validation: {
                allowedExtensions: ['jpeg', 'jpg', 'png'],
                itemLimit: 40,
            },
            callbacks:{
                onComplete: function(id, name, responseJSON){
                    console.log(responseJSON);
                    if(responseJSON.success == true){
                        $('#error').hide();
                        $('#success').show();

                    }else{
                        $('#success').hide();
                        $('#error').show();
                        
                    }
                }
            },
            autoUpload: false,
            debug: true
        });

        qq(document.getElementById("trigger-upload")).attach("click", function() {
            manualUploader.uploadStoredFiles();
        });


</script>
</body>

</html>