<!DOCTYPE html>

<html lang="en">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
        <meta charset="utf-8" />
        <title>Zakat</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&amp;subset=all' rel='stylesheet' type='text/css'>
        <link href="plugins/socicon/socicon.css" rel="stylesheet" type="text/css" />
        <link href="plugins/bootstrap-social/bootstrap-social.css" rel="stylesheet" type="text/css" />
        <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="plugins/animate/animate.min.css" rel="stylesheet" type="text/css" />
        <link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN: BASE PLUGINS  -->
        <link href="plugins/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet" type="text/css" />
        <link href="plugins/owl-carousel/assets/owl.carousel.css" rel="stylesheet" type="text/css" />
        <link href="plugins/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />
        <link href="plugins/slider-for-bootstrap/css/slider.css" rel="stylesheet" type="text/css" />
        <!-- END: BASE PLUGINS -->
        <!-- BEGIN THEME STYLES -->
        <link href="base/css/plugins.css" rel="stylesheet" type="text/css" />
        <link href="base/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
        <link href="base/css/themes/default.css" rel="stylesheet" id="style_theme" type="text/css" />
        <link href="base/css/custom.css" rel="stylesheet" type="text/css" />
        <!-- END THEME STYLES -->
        <link rel="shortcut icon" href="favicon.ico" /> </head>
           
<link rel="stylesheet" href="plugins/imagezoom/css/imagezoom/imagezoom.css" />
<link rel="stylesheet" href="plugins/imagezoom/css/elastislide/es-cus.css" />
<link type="text/css" rel="stylesheet" href="lib/css/DT_bootstrap.css"/>


 <!-- Fine Uploader Thumbnails template w/ customization
    ====================================================================== -->
        <style type="text/css">

        div.stars {
  width: 230px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: left;
  padding-right: 10px;
  font-size: 20px;
  color: #FD4;
  transition: all .25s;
}


label.star:before {
  content: '\f005';
  font-family: FontAwesome;
}

            .demowrap
{   

    display:block;
}
.demowrap img
{   
    width:100%;
}
 #trigger-upload {
            color: white;
            background-color: #00ABC7;
            font-size: 14px;
            padding: 7px 20px;
            background-image: none;
        }

        #fine-uploader-manual-trigger .qq-upload-button {
            margin-right: 15px;
        }

        #fine-uploader-manual-trigger .buttons {
            width: 36%;
        }

        #fine-uploader-manual-trigger .qq-uploader .qq-total-progress-bar-container {
            width: 60%;
        }
        #tablestockin :hover{
            cursor: pointer;
        }
        </style>
        <script type="text/javascript">
            
        </script>
    <body class="c-layout-header-fixed c-layout-header-6-topbar">
        <!-- BEGIN: LAYOUT/HEADERS/HEADER-1 -->
        <!-- BEGIN: HEADER -->
        <header class="c-layout-header c-layout-header-6" id="home" data-minimize-offset="80">

            <div class="c-topbar">
                <div class="container">
                    <nav class="c-top-menu">
                        <ul class="c-links c-theme-ul">
                            <li class="c-cart-toggler-wrapper">
                                    <a href="#" class="c-btn-icon c-cart-toggler">
                                        <i class="icon-bell c-bell-icon"></i>
                                        <span class="c-cart-number" style="background-color:orange">2</span>
                                    </a>
                                </li>
                            <li>
                                    <a href="index.html"  class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-dark c-btn-circle c-btn-uppercase c-btn-sbold" >
                                        <i class="icon-user"></i> Sign Out</a>
                                </li>
                        </ul>
                        <!-- <ul class="c-ext hide c-theme-ul">
                            <li class="c-lang dropdown c-last">
                                <a href="#">en</a>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li class="active">
                                        <a href="#">English</a>
                                    </li>
                                    <li>
                                        <a href="#">German</a>
                                    </li>
                                    <li>
                                        <a href="#">Espaniol</a>
                                    </li>
                                    <li>
                                        <a href="#">Portugise</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="c-search hide">
                             
                                <form action="#">
                                    <input type="text" name="query" placeholder="search..." value="" class="form-control" autocomplete="off">
                                    <i class="fa fa-search"></i>
                                </form>
                                
                            </li>
                        </ul> -->
                    </nav>
                    <div class="c-brand">
                        <a href="index.html" class="c-logo" style="font-size:30px;">
                                <span class="c-desktop-logo" style=""><b>INVENTORY SYSTEM</b></span><!-- 
                                <img src="base/img/layout/logos/logo-2.png" alt="JANGO" class="c-desktop-logo">
                                <img src="base/img/layout/logos/logo-2.png" alt="JANGO" class="c-desktop-logo-inverse">
                                <img src="base/img/layout/logos/logo-2.png" alt="JANGO" class="c-mobile-logo"> --> 
                            </a>
                        <!-- <ul class="c-icons c-theme-ul">
                            <li>
                                <a href="#">
                                    <i class="icon-social-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-social-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-social-dribbble"></i>
                                </a>
                            </li>
                        </ul> -->
                        <button class="c-topbar-toggler" type="button">
                            <i class="fa fa-ellipsis-v"></i>
                        </button>
                        <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
                            <span class="c-line"></span>
                            <span class="c-line"></span>
                            <span class="c-line"></span>
                        </button>
                        <!-- <button class="c-search-toggler" type="button">
                            <i class="fa fa-search"></i>
                        </button> -->
                    </div>
                </div>
            </div>
            <div class="c-navbar" style="background-color:#ADC2EB">
                <div class="container">
                    <!-- BEGIN: BRAND -->
                    <div class="c-navbar-wrapper clearfix">
                        
                        <!-- END: BRAND -->
              
                        <!-- END: QUICK SEARCH -->
                        <!-- BEGIN: HOR NAV -->
                        <!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU-ONEPAGE -->
                        <!-- BEGIN: MEGA MENU -->
                        <nav class="c-mega-menu c-mega-menu-onepage c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold" data-onepage-animation-speed="300">
                            <ul class="nav navbar-nav c-theme-nav">
                                <li class="c-onepage-link">
                                    <a href="dashboard.html" class="c-link">Dashboard</a>
                                </li>
                                <li class="c-onepage-link">
                                    <a href="inventory.html" class="c-link">Inventory</a>
                                </li>
                               
                                <li class="c-onepage-link ">
                                    <a href="exports.html" class="c-link">Exports</a>
                                </li>
                                <li class="c-onepage-link">
                                    <a href="imports.html" class="c-link">Imports</a>
                                </li>
                                <li class="c-onepage-link c-active active">
                                    <a href="zakat.html" class="c-link">Zakat</a>
                                </li>
                                <li class="c-onepage-link ">
                                    <a href="user.html" class="c-link">Users</a>
                                </li>
                                <li class="">
                                    <a href="javascript:;" class="c-link dropdown-toggle">Reports
                                        <span class="c-arrow c-toggler"></span>
                                    </a>
                                    <div class="dropdown-menu c-menu-type-mega" style="right: 165px; background-color:#ADC2EB;">
                                        
                                        <ul class="dropdown-menu c-menu-type-inline">
                                                    
                                            <li class="">
                                                <a href="sales.html" style="color:white">Sales Report</a>
                                            </li>
                                            <li >
                                                <a href="purchase.html" style="color:white">Purchase Report</a>
                                            </li>
                                                    
                                        </ul>
                                            
                                    <div>        
                                </li>
                                
                                
                               
                            </ul>
                        </nav>
                        <!-- END: MEGA MENU -->
                        <!-- END: LAYOUT/HEADERS/MEGA-MENU-ONEPAGE -->
                        <!-- END: HOR NAV -->
                    </div>

                    <div class="c-cart-menu">
                        
                        <ul class="c-cart-menu-items">
                            <li>
                                <div class="c-cart-menu-close">
                                    <a href="#" class="c-theme-link">×</a>
                                </div>
                                <a href="imports.html" class="c-item-name c-font-sbold">Vehicle Exported To Your Destination...</a>
                                
                            </li>
                            <li>
                                <div class="c-cart-menu-close">
                                    <a href="#" class="c-theme-link">×</a>
                                </div>
                                <a href="exports.html" class="c-item-name c-font-sbold">Vehicle Received Successfully At Destination...</a>
                                
                            </li>
                        </ul>
                        
                    </div>


                </div>
            </div>
        </header>
        <!-- END: HEADER -->
        <!-- END: LAYOUT/HEADERS/HEADER-1 -->
       <!-- BEGIN: CONTENT/USER/LOGIN-FORM -->
        
        <!-- END: CONTENT/USER/LOGIN-FORM -->
        <!-- BEGIN: PAGE CONTAINER -->
        <div  class="c-layout-page" >
            <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
            <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
                <div class="container" >
                    <div class="c-page-title c-pull-left">
                        <h3 class="c-font-uppercase c-font-bold">Zakat Calculator</h3>
                        <h4 class=""></h4>
                    </div>
                    <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                        <li>
                            <a href="">Admin</a>
                        </li>
                        <li>/</li>
                        <li class="c-state_active">Zakat</li>
                    </ul>
                </div>
            </div>
            <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
            <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: CONTENT/SHOPS/SHOP-PRODUCT-DETAILS-2 -->
            <div class="c-content-box c-overflow-hide c-bg-white">
                <div class="container">
                    <div class="c-shop-product-details-2">
                     
                        
                        <div class="row">
                            
                            <div class="c-content-box c-size-md">
                <div class="container">
                    <div class="c-content-tab-4 c-opt-5" role="tabpanel">
                        <ul class="nav nav-justified" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#tab-1" role="tab" data-toggle="tab">Total Zakat</a>
                            </li>
                            <li role="presentation">
                                <a href="#tab-2" role="tab" data-toggle="tab">Stations Zakat</a>
                            </li>
                            
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="tab-1">
                                <ul class="c-tab-items">
                                    <li class="row">
                                        
                                        <div class="col-sm-12 col-xs-12 text-center">
                                            <h4 class="c-font-23"><b>Total Zakat Of Company</b></h4>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-4"><label>Vehicles In Stock</label></div>
                                                <div class="col-md-4"><label>$5,000</label></div>
                                                
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-4"><label>Vehicles Sold</label></div>
                                                <div class="col-md-4"><label>$5,000</label></div>
                                                
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-4"><label><b>Total Assets</b></label></div>
                                                <div class="col-md-4"><label>$10,000</label></div>
                                                
                                            </div>
                                            <br>
                                            
                                            <div class="row">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-4"><label><b>Zakat(2.5%)</b></label></div>
                                                <div class="col-md-4"><label>$250</label></div>
                                                
                                            </div>
                                            
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab-2">
                                <ul class="c-tab-items">
                                    <li class="row text-center">
                                        
                                        <div class="col-sm-12 col-xs-12 text-center">
                                            <div class="form-group">
                                                <div class="col-md-2"></div>
                                                <label for="inputEmail3" class="col-md-3 control-label">Station:</label>
                                   
                                                <div class="col-md-4">
                                                    <select class="form-control c-square c-theme">
                                            <option>Select Station</option>
                                            <option>Station Name 1</option>
                                            <option>Station Name 2</option>
                                            <option>Station Name 3</option>
                                            <option>Station Name 4</option>
                                        </select>
                                    </div>
                                    

                                </div>
                                <br>
                                <div class="clearfix"></div>
                                            <h4 class="c-font-23"><b>Total Zakat Of Station</b></h4>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-4"><label>Vehicles In Stock</label></div>
                                                <div class="col-md-4"><label>$5,000</label></div>
                                                
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-4"><label>Vehicles Sold</label></div>
                                                <div class="col-md-4"><label>$5,000</label></div>
                                                
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-4"><label><b>Total Assets</b></label></div>
                                                <div class="col-md-4"><label>$10,000</label></div>
                                                
                                            </div>
                                            <br>
                                            
                                            <div class="row">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-4"><label><b>Zakat(2.5%)</b></label></div>
                                                <div class="col-md-4"><label>$250</label></div>
                                                
                                            </div>
                                            
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>          
                           
                        </div>
                    </div>
                </div>
            </div>

            <!-- END: CONTENT/SHOPS/SHOP-PRODUCT-DETAILS-2 -->
            
                      
            <!-- END: PAGE CONTENT -->
        </div>
        <!-- style="background-color:grey;color:white" -->
        <div class="modal fade" id="vehicleinfo" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content c-square">
                    <div class="modal-header ">
                        <button type="button" style="float:right" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h2>Corolla Vitz</h2>
                        
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-7">
                                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                    <!-- <ol class="carousel-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#myCarousel" data-slide-to="1"></li>
                                        <li data-target="#myCarousel" data-slide-to="2"></li>
                                    </ol> -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img src="1.jpg" style="width:330px; height:300px;border: 2px solid grey;">
                                        </div>

                                        <div class="item">
                                            <img src="2.jpg" style="width:330px; height:300px;border: 2px solid grey;">
                                        </div>

                                        <div class="item">
                                            <img src="1.jpg" style="width:330px; height:300px;border: 2px solid grey;">
                                        </div>
                                    </div>
                                    <!-- Left and right controls -->
                                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        <span class="sr-only">Next</span>
                                    </a>


                                </div>
                                
                            </div>
                            <div class="col-md-5 ">
                                <label>Year:     2000</label>
                                <br>
                                <div class="stars">
                                    <form action="">
    
                                        <label class="star star-5" for="star-5"></label>
    
                                        <label class="star star-4" for="star-4"></label>
    
                                        <label class="star star-3" for="star-3"></label>
    
                                        <label class="star star-2" for="star-2"></label>

                                        <label class="star star-1" for="star-1"></label>
                                    </form>
                                </div>
                                <label>Exported By: User Name</label>
                                <label>Destination: Station 2</label>
                                <label>Days Passed: 3</label>
                                <label>Expected Delivery: 19 March 2017</label>
                                <label>Status: <span class="alert-warning" id="status">En route</span></label>
                                
                            </div>
                        </div>
                        <br>
                        <div class="row">
                               
                            <div class="col-md-12 text-center">
                                <!-- <button class="btn  c-theme-btn c-btn-square c-btn-uppercase c-btn-bold" onclick="$('#exportData').hide();$('#sellData').show();">Sell</button>
                               
                                <button class="btn  c-theme-btn c-btn-square c-btn-uppercase c-btn-bold" id='editVehicle'>Edit</button> -->

                                 <button class="btn  c-theme-btn c-btn-square c-btn-uppercase c-btn-bold" onclick="$('#status').html('Received');$('#status').removeClass('alert-warning');$('#status').addClass('alert-success');$(this).hide();">Received</button>
                            </div>

                        </div>
                        <br>
                        
                    </div>
                </div>
            </div>
        </div>



        <!-- END: PAGE CONTAINER -->
        <!-- BEGIN: LAYOUT/FOOTERS/FOOTER-6 -->
        <a name="footer"></a>
                <footer class="c-layout-footer c-layout-footer-1" >
            <div class="c-postfooter" style="background-color:#ADC2EB">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 text-center">
                            <p class="c-copyright c-font-oswald c-font-14" style="color:black"> Copyright &copy; 2017 </p>
                        </div>
                        <!-- <div class="col-md-6 col-sm-6">
                            <ul class="c-socials">
                                <li>
                                    <a href="#">
                                        <i class="icon-social-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-social-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-social-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-social-dribbble"></i>
                                    </a>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </footer>
        <!-- END: LAYOUT/FOOTERS/FOOTER-6 -->
        <!-- BEGIN: LAYOUT/FOOTERS/GO2TOP -->
        <div class="c-layout-go2top">
            <i class="icon-arrow-up"></i>
        </div>
        


        <script src="plugins/jquery.min.js" type="text/javascript"></script>
        <script src="plugins/jquery-migrate.min.js" type="text/javascript"></script>
        <script src="plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="plugins/jquery.easing.min.js" type="text/javascript"></script>
        <script src="plugins/reveal-animate/wow.js" type="text/javascript"></script>
        <script src="base/js/scripts/reveal-animate/reveal-animate.js" type="text/javascript"></script>
        <!-- END: CORE PLUGINS -->
        <!-- BEGIN: LAYOUT PLUGINS -->
        <script src="plugins/cubeportfolio/js/jquery.cubeportfolio.min.js" type="text/javascript"></script>
        <script src="plugins/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
        <script src="plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
        <script src="plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
        <script src="plugins/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
        <script src="plugins/smooth-scroll/jquery.smooth-scroll.js" type="text/javascript"></script>
        <script src="plugins/slider-for-bootstrap/js/bootstrap-slider.js" type="text/javascript"></script>
        <!-- END: LAYOUT PLUGINS -->
        <!-- BEGIN: THEME SCRIPTS -->
        <script src="base/js/components.js" type="text/javascript"></script>
        <script src="base/js/components-shop.js" type="text/javascript"></script>
        <script src="base/js/app.js" type="text/javascript"></script>
        <script src="base/js/scripts/pages/modals.js" type="text/javascript"></script>
        <script>
            $(document).ready(function()
            {
                App.init(); // init core    
            });
        </script>


        <!-- END: PAGE SCRIPTS -->
<script type="text/javascript" src="plugins/imagezoom/js/jquery.imagezoom.min.js"></script>
<script type="text/javascript" src="plugins/imagezoom/js/modernizr.custom.17475.js"></script>
<script type="text/javascript" src="plugins/imagezoom/js/jquery.elastislide.js"></script>
<script type="text/javascript" src="plugins/filter.js"></script>
<script src="lib/js/jquery.dataTables.js"></script>
<script src="lib/js/DT_bootstrap.js"></script>

        <!-- END: LAYOUT/BASE/BOTTOM -->
        <script>

</script>
</body>

</html>